@tailwind base;

@tailwind components;

@tailwind utilities;

.container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.font-base {
  font-family: "Alegreya", serif;
}

.font-heading {
  font-family: "Lato", sans-serif;
}

.bg-overlay {
  background-color: rgba(0, 0, 0, 0.45);
}
